# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# Django
media/
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations (optional - keep only __init__.py)
# */migrations/*
# !*/migrations/__init__.py